<!doctype html>
<html lang="en">
<head>
    {% include 'partials/head.twig' %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container wrapper">
    {% include 'partials/header.twig' %}

    {% block content %}{% endblock %}

    {% include 'partials/footer.twig' %}
</div>
</body>
</html>